<p><%= @last_name %> 様</p>

<p>Tech Conference運営事務局です。<br>
イベントへお申込みいただき、誠にありがとうございます。</p>

<p>ご登録いただいた方には、別途イベント配信を視聴するために必要なZoomウェビナーのURLを<br>
前日までにメールにてお送りいたします。</p>

<p>また、イベント当時はチャット機能を使ってスピーカーへの質問も可能となっております。<br>
プロダクト開発での悩みや、現場の課題など、なんでも構いませんので、<br>
講演を聴きながらお気軽にご投稿いただければと思います。</p>

<p>ご不明な点がありましたら運営事務局までお問い合わせください。</p>

<p>--------------------------------------------<br>
Tech Conference運営事務局<br>
お問い合わせ<br>
  TEL：03-xxxx-xxxx<br>
  メール：support@example.com<br>
受付時間：09:00 〜 21:00<br>
--------------------------------------------</p>
