<p><%= @last_name %> 様</p>

<p>Techpit TechConf事務局です。<br />
無料レッスンへのお申し込みありがとうございます。</p>

<p>1月のレッスン日程を送付いたします。<br />
下記日程の中から希望する時間帯をメールにてお知らせ下さい。</p>
<p>また、ご希望の方は、レッスンの後に「個別相談」を受けていただくことも可能です。</p>

<ul>
  <li>1/16（土）14:00〜16:00</li>
  <li>1/16（土）16:00〜18:00</li>
  <li>1/17（日）10:00〜12:00</li>
  <li>1/17（日）14:00〜16:00</li>
  <li>1/17（日）16:00〜18:00</li>
  <li>1/23（土）14:00〜16:00</li>
  <li>1/23（土）16:00〜18:00</li>
  <li>1/24（日）14:00〜16:00</li>
  <li>1/24（日）16:00〜18:00</li>
</ul>

<p>--------------------------------------------<br />
TechConf事務局<br />
お問い合わせ<br />
  TEL：03-xxxx-xxxx<br />
  メール：support@example.com<br />
受付時間：09:00 〜 21:00<br />
--------------------------------------------</p>
