<main role="main">
  <div class="container mt-md-5">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Tech Conference へのお申し込み完了</div>
          <div class="card-body">
            <p class="card-text">この度はTech Conference へのお申込み、ありがとうございました。</p>
            <p class="card-text">
              ご登録いただいたメールアドレスへメールを自動配信いたしましたので、 ご確認くださいますようお願い申し上げます。<br>
              数分経ってもメールが届かない場合は、下記の運営事務局までお問い合わせください。<br>
            </p>
            <%= link_to "お申し込み画面へ戻る", registrations_new_path, class: "card-link" %>
            <p class="card-text">
              --------------------------------------------<br>
              Tech Conference運営事務局<br>
                TEL：03-xxxx-xxxx<br>
                メール：support@example.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
